/nbproject/private/
/dist/FreeEed.jar
/freeeed-output/
/freeeed_download/
/pst_output
/logs
freeeed.parameters*
/test-data/edrm*
/target/
/tmp/
settings.properties
derby.log
freeeed.pem
hadoop-env.sh
masters
slaves
core-site.xml
mapred-site.xml
