# artifacts
target/
freeeed-test/pst_output/
freeeed-output/
projects/
pst_output/
logs/
tmp/
# private info
freeeed-processing/settings.properties
freeeed-test/settings.properties
*.pem
# NetBeans projects
nbactions.xml
nb-configuration.xml
masters
slaves
output/
# Edit artifacts
*~
# IntelliJ IDEA project files
.idea/
*.iml
