assemblyai
boto3
fastapi
gunicorn
langchain
langchain-community
openai
pinecone-client
psutil
pydantic
python-dotenv
python-multipart
PyPDF2
starlette
tiktoken
typing-extensions
unstructured
uvicorn[standard]
