python-dotenv
openai
pinecone
langchain
langchain-openai
langchain-pinecone
langchain-community
langchain-core
fastapi
pydantic
unstructured
starlette
tiktoken
PyPDF2
python-multipart
uvicorn
boto3
gunicorn
assemblyai
psutil
